*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: monospace;
    background: rgb(49, 14, 56);
}

body {
    overflow-x: hidden;
}

.title-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
    height: 50vh;
    width: 100vw;
}

.title {
    position:absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    place-items: center;
    justify-content: center;
    z-index: 2;
}

h1 {
    font-size: 8rem;
    color: gold
}

/* section {
    height: 100vh;
} */

@media screen and (max-width: 768px){


    h1{
        position:fixed;
        margin-top: -10vh;
        font-size: 5rem;
        display:flex;
        flex-direction: column;
        text-align: center;
        place-content: center;
        place-items: center;
    }

    .webgl {
        height: 667px;
        width: 375px;
    }


}